
body{
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(43, 42, 42);
}

/* .boxdiv{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: gray;
    height: 60%;
    padding-top: 5%;


} */
.headerin{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.paragraphin{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: -3%;
    font-size: 0.8em; 
 } 
 .boldin{
    color:white;
    font-weight: 600;
 }
 a{
    text-decoration: none;
 }
/* .spandiv{
    margin-bottom: 7%;
}  */
#grid1{
    position: fixed;
    width: 100%;
    height: 8%;
    border-bottom: 0.5px solid white;
    border-top:  0.5px solid white;
    background-color: rgb(34, 33, 33);
    /* display: flex; */
    margin-right: 0%;
    margin-left: -7%;
    margin-top: -2%;
    opacity: 0.99;
} 
#grid2{
   width: 100%;
   display: flex;
   margin-top: 30%;
}
#grid3{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 2em;
    gap: 1em;
}
#grid4{
    margin-top: 3.5em;
}
#grid6{
   margin-top: 20%;
   display: flex;
   border-radius: 8px;
   background-color: rgb(43, 42, 42);
   border: 0.5px solid white;
}
#grid7{
    background-color: gray;
    display: flex;
    margin-top: 3%;
    border-radius: 8px;
    background-color: rgb(43, 42, 42);
   border: 0.5px solid white;
}
#grid8{
    background-color: gray;
    display: flex;
    margin-top: 3%;
    border-radius: 8px;
    background-color: rgb(43, 42, 42);
   border: 0.5px solid white;
}
#grid9{
    background-color: gray;
    display: flex;
    margin-top: 3%;
    border-radius: 8px;
    background-color: rgb(43, 42, 42);
   border: 0.5px solid white;
}
#grid10{
    background-color: gray;
    display: flex;
    margin-top: 3%;
    border-radius: 8px;
    background-color: rgb(43, 42, 42);
   border: 0.5px solid white;
}
#grid11{
    background-color: gray;
    display: flex;
    margin-top: 3%;
    border-radius: 8px;
    background-color: rgb(43, 42, 42);
   border: 0.5px solid white;
}
#grid12{
    background-color: gray;
    display: flex;
    margin-top: 3%;
    border-radius: 8px;
    background-color: rgb(43, 42, 42);
   border: 0.5px solid white;
}
#grid14{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    
}
#grid16{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1%;
}
#grid17{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    /* border: 2px solid blue; */
    height: 14em;
    width: 100%;
    gap: 15px;
    margin-top: 5%;
}

#text1{
    color: white;
    margin-left: 5%;
    font-size: 1.6em;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    
}
#text2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    margin: 5%;
}
#text3{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    margin: 5%;
    margin-top: -7%;
}
#text4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-top: -4%;
}
#text5{
    text-align: center;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}
#text6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-right: 20%;
    color: gray;
}
#text7{
    color: white;
}
#text8{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
#text9{
    color: white;
    margin-left: 7%;
}
#text10{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
#text11{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 1.4em;
}
#text12{
    color: white;
}
#text13{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 1.1em;
}
#button1text{
    color: white;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    
}
#button2text{
    color: white;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}
#span1{
    margin-left: 5%;
}
#span2{
    text-align: center;
}
#button1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 1.9em;
    margin-left: 20%;
    width: 9em;
    border-radius: 5px;

}
#button2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 68, 64);
    height: 1.9em;
    width: 9em;
    margin-left: 15%;
    border-radius: 5px;
}
#but1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 1.9em;
    margin-left: -25%;
    width: 9em;
    border-radius: 8px;
}
#but2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 68, 64);
    height: 1.9em;
    width: 9em;
    margin-left: -20%;
    border-radius: 5px;
}
#but1text{
    color: white;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}
#but2text{
    color: white;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}
/* #quivr{
    border: 2px solid white;
    margin: 1%;
    width: 60%;
    height: 6em;
} */
#flexgrid1{
 display: grid;
 /* border: 2px solid white; */
 width: 60%;
 flex-shrink: 0;
}
#flexgrid2{
    display: grid;
    /* border: 2px solid red; */
    width: 60%;
    flex-shrink: 0;
}
#maergo{
    display: grid;
    border: 0.5px solid white;
    width: 100%;
    flex-shrink: 0;
    border-radius: 8px;
}
#flexgrid3{
    display: grid;
    /* border: 2px solid red; */
    width: 60%;
    flex-shrink: 0;
}
#chatbase{
    display: grid;
    border: 0.5px solid white;
    width: 100%;
    flex-shrink: 0;
    border-radius: 8px;
}
#flexgrid4{
    display: grid;
    /* border: 2px solid red; */
    width: 60%;
    flex-shrink: 0;
}
#pebblely{
    display: grid;
    border: 0.5px solid white;
    width: 100%;
    flex-shrink: 0;
    border-radius: 8px;
}
#quivr{
    border: 0.5px solid white;
    border-radius: 8px;
}
#tinloof{
    border: 0.5px solid white;
    margin-top: 5%;
    border-radius: 8px;
}
#password{
    border: 0.5px solid white;
    border-radius: 8px;
}
#nextdoor{
    border: 0.5px solid white;
    margin-top: 5%;
    border-radius: 8px;
}
#shotgun{
    border: 0.5px solid white;
    border-radius: 8px;
}
#mozilla{
    border: 0.5px solid white;
    margin-top: 5%;
    border-radius: 8px;
}
#mobbin{
    border: 0.5px solid white;
    border-radius: 8px;
}
#happyteams{
    border: 0.5px solid white;
    margin-top: 5%;
    border-radius: 8px;
}
