
body{
    display: grid;
    padding-left: 5%;
    padding-right: 5%;
}
.box{
    background-color:gray;
}
.boxdiv{
    display: flex;
    justify-content: left;
    align-items: center;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: gray;
    height: 60%;
    padding-top: 5%;


}
.headerin{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
.paragraphin{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: -3%;
    font-size: 0.8em;
}
.spandiv{
    margin-bottom: 7%;
}
#grid1{
    position: fixed;
    width: 100%;
    height: 7%;
    border-bottom: 0.5px solid white;
    background-color: rgb(70, 68, 68);
    display: flex;
    margin-right: 5%;
} 
#grid2{
   width: 100%;
   display: flex;
   margin-top: 18%;
}
#grid3{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 2em;
    gap: 1em;
}
#grid4{
    margin-top: 3.5em;
}
#grid6{
    margin-top: 10%;
}
#grid7{
    margin-top: -1%;
}
#grid8{
    margin-top: -8%;
}
#grid9{
    margin-top: -12%;
}
#grid10{
    margin-top: -15%;
}
#grid11{
    margin-top: -16%;
}
#grid12{
    margin-top: -17%;
}
#text1{
    color: white;
    
}
#text2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    margin: 5%;
}
#text3{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3em;
    margin: 5%;
    margin-top: -7%;
}
#text4{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-top: -4%;
}
#text5{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}
#button1text{
    color: white;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    
}
#button2text{
    color: white;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
}
#span1{
    margin-left: 5%;
}
#span2{
    text-align: center;
}
#button1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 1.8em;
    margin-left: 20%;
    width: 9em;
    border-radius: 5px;

}
#button2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 128, 0);
    height: 1.8em;
    width: 9em;
    margin-left: 15%;
    border-radius: 5px;
}
